{% extends "layout.html" %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Buy Stock</h2>
        <form action="/buy" method="post">
            <div class="mb-3">
                <label for="symbol" class="form-label">Stock Symbol</label>
                <input type="text" class="form-control" id="symbol" name="symbol" required>
            </div>
            <div class="mb-3">
                <label for="shares" class="form-label">Number of Shares</label>
                <input type="number" class="form-control" id="shares" name="shares" min="1" required>
            </div>
            <button type="submit" class="btn btn-success">Buy</button>
        </form>
    </div>
</div>
{% endblock %}
